/DeepDrunkTalk.Backend/DDT.Backend.API/Uploads/
DeepDrunkTalk.Frontend/test-results/test-unit-play--Play-Test--5e460-ad-after-conversation-stops-Mobile-Safari/trace.zip
/DeepDrunkTalk.Frontend/test-results
/DeepDrunkTalk.Frontend/test-results
/DeepDrunkTalk.Frontend/test-results/test-unit-setting--Settings-Test-saving-settings-Mobile-Safari
DeepDrunkTalk.Backend/DDT.Backend.API/logs/logfile.txt
