/DeepDrunkTalk.Backend/DDT.Backend.API/Uploads/
DeepDrunkTalk.Frontend/test-results/test-unit-play--Play-Test--5e460-ad-after-conversation-stops-Mobile-Safari/trace.zip
/DeepDrunkTalk.Frontend/test-results
/DeepDrunkTalk.Frontend/test-results
/DeepDrunkTalk.Frontend/test-results/test-unit-setting--Settings-Test-saving-settings-Mobile-Safari
DeepDrunkTalk.Backend/DDT.Backend.API/logs/logfile.txt
DeepDrunkTalk.Backend/DDT.Backend.UTL/obj/Debug/net8.0/DDT.Backend.UTL.csproj.AssemblyReference.cache
DeepDrunkTalk.Backend/DDT.Backend.UTL/obj/Debug/net8.0/DDT.Backend.UTL.AssemblyInfoInputs.cache
DeepDrunkTalk.Backend/DDT.Backend.UTL/obj/Debug/net8.0/DDT.Backend.UTL.AssemblyInfo.cs
DeepDrunkTalk.Backend/DDT.Backend.DAL/obj/Debug/net8.0/refint/DDT.Backend.DAL.dll
DeepDrunkTalk.Backend/DDT.Backend.DAL/obj/Debug/net8.0/ref/DDT.Backend.DAL.dll
DeepDrunkTalk.Backend/DDT.Backend.DAL/obj/Debug/net8.0/DDT.Backend.DAL.sourcelink.json
DeepDrunkTalk.Backend/DDT.Backend.DAL/obj/Debug/net8.0/DDT.Backend.DAL.pdb
DeepDrunkTalk.Backend/DDT.Backend.DAL/obj/Debug/net8.0/DDT.Backend.DAL.dll
DeepDrunkTalk.Backend/DDT.Backend.DAL/obj/Debug/net8.0/DDT.Backend.DAL.csproj.AssemblyReference.cache
DeepDrunkTalk.Backend/DDT.Backend.DAL/obj/Debug/net8.0/DDT.Backend.DAL.AssemblyInfoInputs.cache
DeepDrunkTalk.Backend/DDT.Backend.DAL/obj/Debug/net8.0/DDT.Backend.DAL.AssemblyInfo.cs
DeepDrunkTalk.Backend/DDT.Backend.DAL/bin/Debug/net8.0/DDT.Backend.DAL.pdb
DeepDrunkTalk.Backend/DDT.Backend.DAL/bin/Debug/net8.0/DDT.Backend.DAL.dll
DeepDrunkTalk.Backend/DDT.Backend.DAL/bin/Debug/net8.0/DDT.Backend.Common.pdb
DeepDrunkTalk.Backend/DDT.Backend.DAL/bin/Debug/net8.0/DDT.Backend.Common.dll
DeepDrunkTalk.Backend/DDT.Backend.Common/obj/Debug/net8.0/refint/DDT.Backend.Common.dll
DeepDrunkTalk.Backend/DDT.Backend.Common/obj/Debug/net8.0/ref/DDT.Backend.Common.dll
DeepDrunkTalk.Backend/DDT.Backend.Common/obj/Debug/net8.0/DDT.Backend.Common.sourcelink.json
DeepDrunkTalk.Backend/DDT.Backend.Common/obj/Debug/net8.0/DDT.Backend.Common.pdb
DeepDrunkTalk.Backend/DDT.Backend.Common/obj/Debug/net8.0/DDT.Backend.Common.dll
DeepDrunkTalk.Backend/DDT.Backend.Common/obj/Debug/net8.0/DDT.Backend.Common.AssemblyInfoInputs.cache
DeepDrunkTalk.Backend/DDT.Backend.Common/obj/Debug/net8.0/DDT.Backend.Common.AssemblyInfo.cs
DeepDrunkTalk.Backend/DDT.Backend.Common/bin/Debug/net8.0/DDT.Backend.Common.pdb
DeepDrunkTalk.Backend/DDT.Backend.Common/bin/Debug/net8.0/DDT.Backend.Common.dll
DeepDrunkTalk.Backend/DDT.Backend.BLL/obj/Debug/net8.0/refint/DDT.Backend.BLL.dll
DeepDrunkTalk.Backend/DDT.Backend.BLL/obj/Debug/net8.0/ref/DDT.Backend.BLL.dll
DeepDrunkTalk.Backend/DDT.Backend.BLL/obj/Debug/net8.0/DDT.Backend.BLL.sourcelink.json
DeepDrunkTalk.Backend/DDT.Backend.BLL/obj/Debug/net8.0/DDT.Backend.BLL.pdb
DeepDrunkTalk.Backend/DDT.Backend.BLL/obj/Debug/net8.0/DDT.Backend.BLL.dll
DeepDrunkTalk.Backend/DDT.Backend.BLL/obj/Debug/net8.0/DDT.Backend.BLL.csproj.AssemblyReference.cache
DeepDrunkTalk.Backend/DDT.Backend.BLL/obj/Debug/net8.0/DDT.Backend.BLL.AssemblyInfoInputs.cache
DeepDrunkTalk.Backend/DDT.Backend.BLL/obj/Debug/net8.0/DDT.Backend.BLL.AssemblyInfo.cs
DeepDrunkTalk.Backend/DDT.Backend.BLL/bin/Debug/net8.0/DDT.Backend.DAL.pdb
DeepDrunkTalk.Backend/DDT.Backend.BLL/bin/Debug/net8.0/DDT.Backend.DAL.dll
DeepDrunkTalk.Backend/DDT.Backend.BLL/bin/Debug/net8.0/DDT.Backend.Common.pdb
DeepDrunkTalk.Backend/DDT.Backend.BLL/bin/Debug/net8.0/DDT.Backend.Common.dll
DeepDrunkTalk.Backend/DDT.Backend.BLL/bin/Debug/net8.0/DDT.Backend.BLL.pdb
DeepDrunkTalk.Backend/DDT.Backend.BLL/bin/Debug/net8.0/DDT.Backend.BLL.dll
DeepDrunkTalk.Backend/DDT.Backend.API/obj/Debug/net8.0/refint/DDT.Backend.API.dll
DeepDrunkTalk.Backend/DDT.Backend.API/obj/Debug/net8.0/ref/DDT.Backend.API.dll
DeepDrunkTalk.Backend/DDT.Backend.API/obj/Debug/net8.0/DDT.Backend.API.sourcelink.json
DeepDrunkTalk.Backend/DDT.Backend.API/obj/Debug/net8.0/DDT.Backend.API.pdb
DeepDrunkTalk.Backend/DDT.Backend.API/obj/Debug/net8.0/DDT.Backend.API.dll
DeepDrunkTalk.Backend/DDT.Backend.API/obj/Debug/net8.0/DDT.Backend.API.csproj.AssemblyReference.cache
DeepDrunkTalk.Backend/DDT.Backend.API/obj/Debug/net8.0/DDT.Backend.API.AssemblyInfoInputs.cache
DeepDrunkTalk.Backend/DDT.Backend.API/obj/Debug/net8.0/DDT.Backend.API.AssemblyInfo.cs
DeepDrunkTalk.Backend/DDT.Backend.API/obj/Debug/net8.0/apphost.exe
DeepDrunkTalk.Backend/DDT.Backend.API/logs/logfile.txt
DeepDrunkTalk.Backend/DDT.Backend.API/bin/Debug/net8.0/DDT.Backend.DAL.pdb
DeepDrunkTalk.Backend/DDT.Backend.API/bin/Debug/net8.0/DDT.Backend.DAL.dll
DeepDrunkTalk.Backend/DDT.Backend.API/bin/Debug/net8.0/DDT.Backend.Common.pdb
DeepDrunkTalk.Backend/DDT.Backend.API/bin/Debug/net8.0/DDT.Backend.Common.dll
DeepDrunkTalk.Backend/DDT.Backend.API/bin/Debug/net8.0/DDT.Backend.BLL.pdb
DeepDrunkTalk.Backend/DDT.Backend.API/bin/Debug/net8.0/DDT.Backend.BLL.dll
DeepDrunkTalk.Backend/DDT.Backend.API/bin/Debug/net8.0/DDT.Backend.API.pdb
DeepDrunkTalk.Backend/DDT.Backend.API/bin/Debug/net8.0/DDT.Backend.API.exe
DeepDrunkTalk.Backend/DDT.Backend.API/bin/Debug/net8.0/DDT.Backend.API.dll
